.data-corner img {
  height: 100vh;
  width: 80vw;
  z-index: -1;
}

#fridgeButton {
  width: 2vw;
  top: 47vh;
  left: 33vw;
  text-decoration: none;
  font-size: 4vh;
  color: rgba(204, 12, 12, 0);
  position: absolute;
  z-index: 1;
  display: hidden;
  transform: initial;
}

#microButton {
  width: 2.7vw;
  height: 2.7vh;
  aspect-ratio: 1;
  top: 50.7vh;
  left: 37.6vw;
  text-decoration: none;
  color: rgba(41, 12, 204, 0);
  position: absolute;
  display: hidden;
  transform: initial;
}

#cafeButton {
  width: 10vw;
  top: 60vh;
  left: 15vw;
  text-decoration: none;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  aspect-ratio: 1;
  display: hidden;
  transform: initial;
}

.data-corner {
  background-color: black;
  position: relative;
}

.back-button {
  font-size: 6rem;
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  top: 80vh;
  left: 45vw;
}
