img {
  height: 100vh;
  width: 40vw;
  z-index: -1;
}

#fridgeButton {
  height: 10vh;
  width: 22vw;
  top: 45vh;
  text-decoration: none;
  font-size: 4vh;
  color: rgb(204, 12, 12);
  position: absolute;
  z-index: 1;
  display: hidden;
  border-radius: green;
}

#microButton {
  height: 10vh;
  width: 22vw;
  top: 45vh;
  text-decoration: none;
  font-size: 4vh;
  color: rgb(204, 12, 12);
  position: absolute;
  z-index: 1;
  display: hidden;
  border-radius: green;
}

.BackgroundColor {
  background-color: black;
  position: relative;
}

.BackgroundColor #textData {
  position: absolute;
  top: 5vh;
  left: 30vw;
}

#textData {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 1rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 5rem;
  height: 4rem;
  font-size: 0.8rem;
  text-overflow: clip;
}
