#projectorimg {
  height: 100vh;
  width: 65vw;
  z-index: -1;
}

#projectorbacklink {
  text-decoration: none;
  color: white;
  height: 2vh;
  font-size: 5vw;
  width: 1.2vw;
  top: 97vh;
  right: 53vw;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 1;
  display: hidden;
}

#textgirl {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 20vw;
  height: 10vh;
  font-size: 1.4rem;
  text-overflow: clip;
  position: absolute;
  top: 28vh;
  right: 55vw;
}

#phonegirlbutton {
  border: 1px solid transparent;
  text-decoration: none;
  height: 10vh;
  font-size: 10vh;
  width: 10vw;
  top: 49vh;
  right: 65vw;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 1;
  background-color: transparent;
}

.projector {
  background-color: black;
}
