.door-code {
  background-color: black;
  position: relative;
}

.door-code img {
  height: 100vh;
  width: 40vw;
  background-repeat: no-repeat;
}

.door-code input {
  position: absolute;
  right: 44vw;
  top: 75vh;
  width: 10vw;
}

.door-code a {
  z-index: 1;
  position: absolute;
  bottom: 5vh;
  left: 62vw;
  font-size: 5vw;
  text-decoration: none;
  transform: rotate(270deg);
  color: white;
}

.door-code button {
  position: absolute;
  right: 44.8vw;
  top: 79vh;
  height: 6.6vh;
  width: 4.6vw;
  border: 2px solid black;
}

.door-code textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 30rem;
  font-size: 1.4rem;
  text-overflow: clip;
  position: absolute;
  top: 37vh;
  left: 20vw;
  padding: 1rem;
}

.right-pw {
  visibility: hidden;
}

.wrong-pw {
  visibility: visible;
}
