.fridge-close img {
  height: 100vh;
  width: 40vw;
  z-index: -1;
}

#fridgeOpenbutton {
  height: 10vh;
  width: 15vw;
  top: 25vh;
  right: 40vw;
  text-decoration: none;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 1;
  display: hidden;
}

.fridge-close {
  background-color: black;
  position: relative;
}

.fridge-close #textFridge {
  position: absolute;
  top: 7vh;
  left: 30vw;
}

#textFridge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 1rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 15rem;
  height: 8rem;
  font-size: 3rem;
  text-overflow: clip;
}

#back-btn-fClose {
  font-size: 5vw;
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  top: 90vh;
  left: 47vw;
}
