.ImageWildHall {
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.Table {
  text-decoration: none;
  font-size: 5vw;
  width: 6vw;
  top: 82vh;
  transform: rotate(0deg);
  right: 55vw;
  position: absolute;
  z-index: 1;
  color: white;
}

.Projector {
  text-decoration: none;
  font-size: 5vw;
  top: 57vh;
  transform: rotate(90deg);
  right: 41vw;
  position: absolute;
  z-index: 1;
  color: white;
}

.Office {
  text-decoration: none;
  font-size: 5vw;
  top: 61vh;
  transform: rotate(90deg);
  right: 7vw;
  position: absolute;
  z-index: 1;
  color: white;
}

.Data {
  text-decoration: none;
  height: 20vh;
  font-size: 5vw;
  top: 52vh;
  transform: rotate(90deg);
  right: 29vw;
  position: absolute;
  z-index: 1;
  color: white;
}

.TextTableJs {
  font-size: 90%;
  height: 2vh;
  width: 20vh;
  top: 85vh;
  right: 60vw;
  position: absolute;
  z-index: 1;
  padding-top: 0vw;
  border: solid rgb(101, 90, 90) 4px;
  background-color: beige;
  text-align: center;
}

.TextProjector {
  font-size: 90%;
  height: 2vh;
  width: 20vh;
  top: 65vh;
  right: 40vw;
  position: absolute;
  z-index: 1;
  padding-top: 0vw;
  border: solid rgb(101, 90, 90) 4px;
  background-color: beige;
  text-align: center;
}
.TextOffice {
  font-size: 90%;
  height: 2vh;
  width: 20vh;
  top: 70vh;
  right: 0vw;
  position: absolute;
  z-index: 1;
  padding-top: 0vw;
  border: solid rgb(101, 90, 90) 4px;
  background-color: beige;
  text-align: center;
}
.TextData {
  font-size: 90%;
  height: 2vh;
  width: 20vh;
  top: 55vh;
  right: 22vw;
  position: absolute;
  z-index: 1;
  padding-top: 0vw;
  border: solid rgb(101, 90, 90) 4px;
  background-color: beige;
  text-align: center;
}
