.micro-close img {
  height: 100vh;
  width: 80vw;
  z-index: -1;
}

#microButton {
  height: 50vh;
  width: 10vw;
  top: 16vh;
  left: 120vh;
  text-decoration: none;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 1;
  display: hidden;
}

.micro-close {
  background-color: black;
  position: relative;
}

.micro-close #textMicroClose {
  position: absolute;
  top: 10vh;
  left: 40vw;
}

#textMicroClose {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 1rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 10rem;
  height: 12rem;
  font-size: 2rem;
  text-overflow: clip;
}

#back-btn-fClose {
  font-size: 5vw;
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  top: 90vh;
  left: 47vw;
}
