#buildingdoorimg {
  height: 100vh;
  width: 80vw;
  z-index: -1;
}

#buildingdoorlink {
  text-decoration: none;
  height: 10vh;
  font-size: 10vh;
  color: white;
  width: 6vw;
  top: 60vh;
  right: 10vw;
  position: absolute;
  z-index: 1;
  display: hidden;
}

audio {
  position: absolute;
}

#firstdoortext {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 20vw;
  height: 10vh;
  font-size: 1.4rem;
  text-overflow: clip;
  position: absolute;
  top: 28vh;
  right: 43vw;
}

#firstdoorbutton {
  border: 1px solid transparent;
  text-decoration: none;
  height: 30vh;
  font-size: 10vh;
  width: 30vw;
  top: 49vh;
  right: 13vw;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 1;
  background-color: transparent;
}

.building-door {
  background-color: black;
}
