img {
  border: 1px solid red;
  height: 100vh;
  width: 80vw;
  z-index: -1;
}
a {
  text-decoration: none;
  height: 10vh;
  font-size: 10vh;
  color: white;
  width: 6vw;
  top: 60vh;
  right: 10vw;
  position: absolute;
  z-index: 1;
  display: hidden;
}
