img {
  height: 100vh;
  width: 60vw;
  z-index: -1;
}

.cafex {
  text-decoration: none;
  height: 10vh;
  font-size: 10vh;
  color: rgb(255, 255, 255);
  width: 65vw;
  top: 60vh;
  right: 40vw;
  position: absolute;
  z-index: 1;
  display: hidden;
}

.back2 {
  position: relative;

  background-color: black;
}

.back2 textarea {
  position: absolute;

  top: 70vh;
  left: 55vw;
}

.ok5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 20vw;
  height: 15vh;
  font-size: 1.4rem;
  text-overflow: clip;
}
