.mainpic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("@assets/home.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-top: 0rem;
  background-repeat: no-repeat;
}

.titlename {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(144, 42, 42);
  font-size: 5rem;
  font-family: "ok";
  letter-spacing: 0.2rem;
}

label {
}

.form {
  white-space: nowrap;
}

textarea {
  display: flex;

  vertical-align: center;
  padding-top: 2rem;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 30rem;
  height: 18rem;
  font-size: 1.4rem;
  text-overflow: clip;
}

button {
  margin-top: 5rem;
  font-family: "ok";
  border-radius: 30px;
  font-size: 2.2rem;
  height: 5rem;
  width: 10rem;
  box-shadow: 10px 7px 7px rgb(12, 12, 12);
}

@font-face {
  font-family: "ok";
  src: url("@assets/American Captain.ttf") format("woff");
}
