.loic-monster textarea {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 35vh;
  left: 55vw;
  border-radius: 30px;
  border: solid rgb(101, 90, 90) 8px;
  background-color: beige;
  width: 30rem;
  font-size: 1.4rem;
  text-overflow: clip;
  padding: 1rem;
}

.loic-monster {
  background-color: black;
  position: relative;
}

.loic-monster img {
  height: 100vh;
  width: 40vw;
  background-repeat: no-repeat;
  border-style: none;
}

.loic-monster a {
  z-index: 1;
  position: absolute;
  font-size: 5vw;
  right: 9.2vw;
  top: 35vh;
  transform: rotate(90deg);
}
