.back7 img {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.gobax {
    text-decoration: none;
    height: 10vh;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    top: 80vh;
    left: 15vw;
    position: absolute;
    z-index: 1;
    display: hidden;
    transform: rotate(-90deg);
}



.monster {
    text-decoration: none;
    height: 10vh;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    top: 100vh;
    left: 15vw;
    position: absolute;
    z-index: 1;
    display: hidden;
}

.back7 {
    position: relative;

    background-color: black;
}

.back7 textarea {
    position: absolute;

    top: 55vh;
    left: 75vw;
}

#getkeybutton2 {

    z-index: 3;
    top: 40vh;
    right: 37vw;
    width: 20vw;
    height: 40vh;
    position: absolute;
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0) 4px;
    cursor: pointer;
}

#monstermess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding-top: 2rem;
    border-radius: 30px;
    border: solid rgb(101, 90, 90) 8px;
    background-color: beige;
    width: 20vw;
    height: 29vh;
    font-size: 1.4rem;
    text-overflow: clip;
}